<div class="authentication-common-section">
    <div class="auth-logo-flex">
        <img class="auth-logo" src="assets/images/auth/gb-logo.png" alt="">
        <img class="auth-logo-mob" src="assets/images/auth/gb-logo-small.png" alt="">
        <a class="btn go-home-btn" routerLink="/">{{ 'auth.go_home' | translate}}</a>
    </div>
</div>


<!-- <div class="main-common-ui d-none d-lg-block">
    <div class="d-flex img-1">
        <img src="assets/images/auth/gb-logo.png" alt="" >
        <div class="ms-auto me-4">
            <a class="btn go-home-btn sf-pro-regular" routerLink="/">Go Home</a>
        </div>
    </div>
    <div class="main-common-ui-img-bg">
    </div>
</div>
<div class="d-block d-lg-none bg-white p-3">
    <div class="d-flex align-items-center img-1 px-1">
        <img src="assets/images/auth/gb-logo-small.png" class="logo-small d-md-none" alt="" >
        <img src="assets/images/auth/gb-logo.png" class="d-none d-md-block" alt="" >
        <div class="ms-auto">
            <a class="btn btn-primary py-2 px-5 px-md-4 text-white rounded-pill sf-pro-regular" routerLink="/">Go Home</a>
        </div>
    </div>
</div> -->