<div class="container vh-100">
    <app-page-title title="Payment"></app-page-title>
    <div class="page-details-card mx-auto mb-auto">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="card shadow-card"></div>
                <div class="card">
                    <div class="card-body px-0">
                        <div class="row w-100 mx-0 px-4 py-3">
                            <div class="col-12 bg-primary p-3 mx-0 my-2 rounded text-white">
                                <div class="d-flex my-2 mx-2">
                                    <h2 class="fw-bold w-100"> Amount payable</h2>
                                    <h2 class="fw-bold"> $42 </h2>
                                </div>
                                <div class="d-flex my-2 mx-2">
                                    <div class="w-100">
                                        <p class="mb-1"> Unlimited Premium - 150</p>
                                        <p class="mb-1"> GB for 30 Days </p>
                                    </div>
                                    <div class="my-auto w-25">
                                        <button class="btn bg-white rounded-pill py-2 fw-bold w-100"> Pay</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mx-4">
                            <h3 class="fw-bold text-center my-4">Other Payment Methods</h3>
                            <hr/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>