<div class="container rewards-page page-padding-top-medium" id="rewardsPage">
    <app-page-title [title]=" 'my_reward.title' | translate " backToRoute="/" ></app-page-title>
    <div class="page-details-card mx-auto mb-5">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="card shadow-card"></div>
                <div class="card">
                    <div class="card-body card-body-m-margin">
                        <div class="row">
                            <div class="col-12 col-md-6 border-right">
                                <app-reward-points></app-reward-points>
                            </div>
                            <div class="col-12 col-md-6">
                                <app-transaction-history></app-transaction-history>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
