.settings-page-explore{
    @media (max-width: 767px){
        margin-top: -55px;
    }
}

.setting-explore-container{
    .s-btn-primary{
        border-radius: 18px;
        background: var(--color-primary);
        color: var(--color-white);
        font-family: var(--g-font-regular);
        font-size: 18px;
        letter-spacing: -0.36px;
        height: 48px;
    
        &:hover{
            background: var(--color-primary);
            color: var(--color-white);
        }
    
        @media (max-width: 767px){
            font-size: 14px;
            line-height: 24px;
            height: 36px;
            letter-spacing: -0.28px;
            border-radius: 6px;
        }

        .svg-arrow{
            fill: var(--color-white);
        }
    }
}

.s-btn-secondary{
    border-radius: 18px !important;
    background: var(--color-dark-muted);
    color: var(--color-dark-disabled);
    text-align: center;
    font-family: var(--g-font-regular);
    font-size: 18px;
    letter-spacing: -0.36px;
    height: 48px;

    &:hover{
        background: var(--color-dark-muted);
        color: var(--color-dark-disabled);
    }

    @media (max-width: 767px){
        font-size: 14px;
        line-height: 24px;
        height: 36px;
        letter-spacing: -0.28px;
        border-radius: 6px;
    }

    .svg-arrow{
        fill: var(--color-dark-disabled);
    }
}


.s-form-section{
    padding: 34px 40px;
    margin-top: 10px;
    position: relative;

    @media (max-width: 767px){
        padding: 16px 20px;
    }

    .page-explore-card-shadow{
        width: calc(100% - 40px);
        z-index: -1;
    }
}


.tab-hs{
    .s-btn-secondary{
        @media (max-width: 991px){
            border-radius: 18px;
            background: var(--color-white);
            color: var(--color-dark);
        
            &:hover{
                background: var(--color-dark-muted);
                color: var(--color-dark-disabled);
            }
        }
    }
}

.s-form-section{
    @media (max-width: 991px){
        margin-top: 35px;
    }

    @media (max-width: 767px){
        margin-top: 23px;
    }
}
