<!-- <section class="esim-div">
    <div class="section-header" id="eSIMSection1">
        <p class="heading mb-3 tt-firs-semibold">How easy is it to use an eSim?</p>

        <div class="web-use-esim-container">
            <div class="container row justify-content-center web-use-esim-container-inner" id="useESIM1" style="opacity: 0;">
                <div class="col-6 col-md-5 col-lg-4">
                    <img src="assets/images/landing-page/iPhone-destination.png" class="phone-img phone-img-1" alt="">
                </div>
                <div class="col-6 col-md-5 col-lg-4">
                    <p class="heading text-start">Select a Destination</p>
                    <p class="helping-text mt-1 mt-md-3">Choose a country where you would like to purchase and use your eSIM</p>
                </div>
            </div>
            
            <div class="container row justify-content-center web-use-esim-container-inner" id="useESIM2" style="opacity: 0;">
                <div class="col-6 col-md-5 col-lg-4 text-end">
                    <img src="assets/images/landing-page/iPhone-plan.png" class="phone-img phone-img-2" alt="">
                </div>
                <div class="col-6 col-md-5 col-lg-4">
                    <p class="heading text-start">Choose a Plan</p>
                    <p class="helping-text mt-1 mt-md-3">Choose a plan which suits you the best, and purchase it!</p>
                </div>
            </div>
            
            <div class="container row justify-content-center web-use-esim-container-inner" id="useESIM3" style="opacity: 0;">
                <div class="col-6 col-md-5 col-lg-4">
                    <p class="heading inner">QR Scan</p>
                    <p class="helping-text mt-1 mt-md-3">Use the QR Code to scan and setup your eSIM on your device!</p>
                </div>
                <div class="col-6 col-md-5 col-lg-4 text-start">
                    <img src="assets/images/landing-page/iPhone-qrcode.png" class="phone-img phone-img-3" alt="">
                </div>
            </div>
            
            <div class="container row justify-content-center web-use-esim-container-inner" id="useESIM4" style="opacity: 0;">
                <div class="col-2 me-md-5 me-4">
                    <p class="heading">Enjoy!</p>
                </div>
                <div class="col-9 col-md-8 col-lg-6 d-flex">
                    <img src="assets/images/landing-page/iPhone-dashboard.png" class="phone-img phone-img-4" alt="">
                    <p class="helping-text ms-md-5 ms-3 empty-space-mt">After installation, your plan will be activated and you can see the plan status right on your homescreen, you can stay connected anywhere in the world right now!</p>
                </div>
            </div>
        </div>
    
    </div>

    <div class="section-header" id="eSIMSection2">
        <p class="heading tt-firs-semibold">Where can you find us?</p>
        <div class="container row justify-content-center">
            <div class="col-6 col-md-5 col-lg-3 text-end">
                <img src="assets/images/landing-page/iPhone-dashboard.png" class="phone-img" alt="">
            </div>
            <div class="col-6 col-md-5 col-lg-4">
                <p class="heading inner">We are available</p>
                <div class="d-flex justify-content-between gap-2 mt-2 mt-md-5">
                    <img src="assets/images/landing-page/appstore.png" class="store-img" alt="">
                    <img src="assets/images/landing-page/playstore.png" class="store-img" alt="">
                </div>
                <p class="helping-text mt-1 mt-md-4">Download our app from Google Play Store or Apple App Store</p>
            </div>
        </div>
    </div>
</section> -->


<section class="easy-use-esim-section container-lg">
    <div class="" id="eSIMSection1">
        <div class="easy-use-subheading-group">
            <p class="easy-use-subheading g-font-semibold" id="eSimFirstHeading">{{ 'landing.e_sim.sub_heading_1' | translate}}</p>
            <p class="easy-use-subheading g-font-semibold" id="eSimSecondHeading" style="opacity: 0;">{{ 'landing.e_sim.sub_heading_2' | translate}}</p>
        </div>

        <div class="row">
            <div class="easy-use-body col-xl-11">
                <div class="easy-use-img-div" id="iPhoneDestinationImg">
                    <img src="assets/images/landing-page/iPhone-destination.png" class="w-100 h-100" alt="">
                </div>
                <div class="easy-use-img-div" id="iPhonePlanImg" style="opacity: 0;">
                    <img src="assets/images/landing-page/iPhone-plan.png" class="w-100 h-100" alt="">
                </div>
                <div class="easy-use-img-div" id="iPhoneQrCodeImg" style="opacity: 0;">
                    <img src="assets/images/landing-page/iPhone-qrcode.png" class="w-100 h-100" alt="">
                </div>
                <div class="easy-use-img-div enjoy-img-div" id="iPhoneDashboardImg" style="opacity: 0;">
                    <img src="assets/images/landing-page/iPhone-dashboard.png" class="w-100 h-100" alt="">
                </div>
                <!-- <div class="easy-use-img-div enjoy-img-div" style="opacity: 0;">
                    <img src="assets/images/landing-page/iPhone-dashboard.png" class="w-100 h-100" alt="">
                </div> -->

                <div class="easy-use-text-group" id="iPhoneDestinationTextGroup">
                    <p class="easy-use-heading g-font-semibold g-color-dark">{{ 'landing.e_sim.main_content.0.heading' | translate }}</p>
                    <p class="easy-use-text g-font-medium">{{ 'landing.e_sim.main_content.0.sub_heading' | translate }}</p>
                </div>
                <div class="easy-use-text-group" id="iPhonePlanTextGroup" style="opacity: 0;">
                    <p class="easy-use-heading g-font-semibold g-color-dark">{{ 'landing.e_sim.main_content.1.heading' | translate }}</p>
                    <p class="easy-use-text g-font-medium">{{ 'landing.e_sim.main_content.1.sub_heading' | translate }}</p>
                </div>
                <div class="easy-use-text-group qr-scan-text-group" id="iPhoneQrCodeTextGroup" style="opacity: 0;">
                    <p class="easy-use-heading g-font-semibold g-color-dark">{{ 'landing.e_sim.main_content.2.heading' | translate }}</p>
                    <p class="easy-use-text g-font-medium">{{ 'landing.e_sim.main_content.2.sub_heading' | translate }} </p>
                </div>

                <div class="easy-use-text-group qr-scan-text-group" id="iPhoneDashboardHeading" style="opacity: 0;">
                    <p class="easy-use-heading g-font-semibold g-color-dark">{{ 'landing.e_sim.main_content.3.heading' | translate }}</p>
                </div>
                <div class="easy-use-text-group enjoy-text-div" id="iPhoneDashboardText" style="opacity: 0;">
                    <p class="easy-use-text g-font-medium">{{ 'landing.e_sim.main_content.3.sub_heading' | translate }} </p>
                </div>

                <div class="easy-use-text-group" id="downloadAppTextGroup" style="opacity: 0;">
                    <p class="easy-use-heading g-font-semibold g-color-dark">{{ 'landing.e_sim.main_content.4.heading' | translate }}</p>
                    <div class="app-store-img-div-parent">
                        <div class="app-store-img-div">
                            <img src="assets/images/landing-page/appstore.png" class="w-100 h-100" alt="">
                        </div>
                        <div class="app-store-img-div">
                            <img src="assets/images/landing-page/playstore.png" class="w-100 h-100" alt="">
                        </div>
                    </div>
                    <p class="easy-use-text g-font-medium">{{ 'landing.e_sim.main_content.4.sub_heading' | translate }}</p>
                </div>
            </div>

            <!-- <div class="" id="useESIM2" style="opacity: 0;">
                <div class="col-6 col-md-5 col-lg-4 text-end">
                    <img src="assets/images/landing-page/iPhone-plan.png" class="phone-img phone-img-2" alt="">
                </div>
                <div class="col-6 col-md-5 col-lg-4">
                    <p class="heading text-start">Choose a Plan</p>
                    <p class="helping-text mt-1 mt-md-3">Choose a plan which suits you the best, and purchase it!</p>
                </div>
            </div>
            
            <div class="container row justify-content-center web-use-esim-container-inner" id="useESIM3" style="opacity: 0;">
                <div class="col-6 col-md-5 col-lg-4">
                    <p class="heading inner">QR Scan</p>
                    <p class="helping-text mt-1 mt-md-3">Use the QR Code to scan and setup your eSIM on your device!</p>
                </div>
                <div class="col-6 col-md-5 col-lg-4 text-start">
                    <img src="assets/images/landing-page/iPhone-qrcode.png" class="phone-img phone-img-3" alt="">
                </div>
            </div>
            
            <div class="container row justify-content-center web-use-esim-container-inner" id="useESIM4" style="opacity: 0;">
                <div class="col-2 me-md-5 me-4">
                    <p class="heading">Enjoy!</p>
                </div>
                <div class="col-9 col-md-8 col-lg-6 d-flex">
                    <img src="assets/images/landing-page/iPhone-dashboard.png" class="phone-img phone-img-4" alt="">
                    <p class="helping-text ms-md-5 ms-3 empty-space-mt">After installation, your plan will be activated and you can see the plan status right on your homescreen, you can stay connected anywhere in the world right now!</p>
                </div>
            </div> -->
        </div>

    </div>

    <!-- <div class="section-header" id="eSIMSection2">
        <p class="heading tt-firs-semibold">Where can you find us?</p>
        <div class="container row justify-content-center">
            <div class="col-6 col-md-5 col-lg-3 text-end">
                <img src="assets/images/landing-page/iPhone-dashboard.png" class="phone-img" alt="">
            </div>
            <div class="col-6 col-md-5 col-lg-4">
                <p class="heading inner">We are available</p>
                <div class="d-flex justify-content-between gap-2 mt-2 mt-md-5">
                    <img src="assets/images/landing-page/appstore.png" class="store-img" alt="">
                    <img src="assets/images/landing-page/playstore.png" class="store-img" alt="">
                </div>
                <p class="helping-text mt-1 mt-md-4">Download our app from Google Play Store or Apple App Store</p>
            </div>
        </div>
    </div> -->
</section>