<div class="help-bg">
    <div class="page mb-n4">
        <p class="heading mb-0 mt-n20rem mt-11rem">404</p>
        <p class="sub-heading mb-2 mt-8rem">{{ 'not_found.sub_heading' | translate }}</p>
        <!-- <p class="supporting-text">Your internet is working fine, the page does not <br>exist.</p> -->
        <p class="supporting-text">{{ 'not_found.supporting_text' | translate }}</p>
        <a class="back cursor-pointer" (click)="goBack()">{{ 'not_found.go_back' | translate }}</a>
    </div>
</div>