<div class="authentication-right-inner authentication-right-signup authentication-right-signin">
    <h1 class="mb-5 auth-right-head" [innerHtml]="'auth.forgot_password.heading' | translate"></h1>

    <div class="auth-form-container bg-white">
        <div class="form-container">
            <p class="auth-subhead">{{ 'auth.forgot_password.sub_head' | translate }}</p>
            <p class="mb-2 mb-md-3 auth-subtext" [ngClass]="{'text-danger': otpError && otpValue.length === settings.length}"> 
                <span *ngIf="(otpError && otpValue.length === settings.length); else noError" [innerHtml]=" 'auth.forgot_password.error_sub_text' | translate "></span>
                <ng-template #noError>
                    {{ 'auth.forgot_password.sub_text' | translate }}
                </ng-template>
            </p>
    
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group mb-4">
                            <label for="email" class="auth-form-label">{{ 'auth.forgot_password.email_title' | translate }}</label>
                            <input type="email" class="form-control auth-form-input auth-input-border" [ngClass]="{'err': (submitted && f.email.errors)}" formControlName="email" placeholder="name@company.com">            
                            <div>
                                <span class="auth-help-block ng-invalid text-danger mb-0"
                                    *ngIf="(!f.email.valid && !f.email.pristine) || (f.email.errors && submitted)">
                                    <span class="small" *ngIf="submitted && f.email.errors.required">
                                        {{ 'form.email.required' | translate }}
                                    </span>
                                </span>
                                <span class="auth-help-block ng-invalid text-danger mb-0" *ngIf="f.email.errors && submitted">
                                    <span class="small" *ngIf="submitted && (f.email.errors.email || f.email.errors.incorrect)">
                                        {{ 'form.email.invalid' | translate }}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn auth-btn-submit mb-3" [disabled]="showOTPSection">
                    <div class="d-flex align-items-center justify-content-center">
                        <p class="mb-0 flex-fill sf-pro-regular btn-text"> {{ 'auth.forgot_password.request_otp' | translate }}</p>
                    </div>
                </button>
                <div class="auth-help-block sf-pro-regular mb-3" *ngIf="showOTPSection && submitted && !f.email.errors">
                    <span class="notification-text">
                        {{ 'auth.forgot_password.otp_notification' | translate }}
                    </span>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group mb-4" [class.pe-none]="!showOTPSection">
                            <label for="inputOTP" class="auth-form-label"> {{ 'form.otp_title' | translate}} </label>
                            <app-angular-otp id="inputOTP" [setting]="settings" [hasError]="otpError && otpValue.length === settings.length" (valueChange)="onOTPChange($event)" [class.otp-error]="otpError && otpValue.length > 0"></app-angular-otp>
                        </div>
                    </div>
                </div>
                
                <button type="submit" class="btn auth-btn-submit mb-3" [disabled]="!showOTPSection || otpError || otpValue.length !== settings.length">
                    <div class="d-flex align-items-center justify-content-center">
                        <p class="mb-0 flex-fill sf-pro-regular btn-text"> {{ 'form.submit_text' | translate }}</p>
                    </div>
                </button>
            </form>
        </div>
    </div>
</div>

<!-- 
    <div class="auth-right forgot-password-auth-right">
    <h1 class="mb-5 tt-firs-neue-trial-semibold heading">
        Now, <span class="heading-sub-text">would be a perfect time to open your mail!</span>
    </h1>

    <div class="main-form-section" [ngClass]="{'main-form-section-err': submitted && ((f.email.errors || (otpError && otpValue.length > 0)) || (showOTPSection && !f.email.errors)) }">
        <div class="form-section">
            <h1 class="tt-firs-neue-trial-semibold form-heading mb-2 mb-md-3">Reset Your Password</h1>
            <p class="mb-2 mb-md-3 form-subheading sf-pro-regular" [ngClass]="{'text-danger': otpError && otpValue.length === settings.length}"> 
                <span *ngIf="(otpError && otpValue.length === settings.length); else noError">
                    The OTP you have entered is incorrect. <br class="d-block d-md-none"/> Please verify the OTP and try again.
                </span>
                <ng-template #noError>
                    Enter the details below to reset your password
                </ng-template>
            </p>
    
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group mb-4">
                            <label for="email" class=" tt-firs-neue-trial-medium mb-2 form-input-label">Enter your email</label>
                            <input type="email" class="form-control auth-form-input" [ngClass]="{'err': (submitted && f.email.errors)}" formControlName="email" placeholder="name@company.com">            
                            <div>
                                <span class="help-block ng-invalid text-danger mb-0"
                                    *ngIf="(!f.email.valid && !f.email.pristine) || (f.email.errors && submitted)">
                                    <span class="small" *ngIf="submitted && f.email.errors.required">
                                        Email is required!
                                    </span>
                                </span>
                                <span class="help-block ng-invalid text-danger mb-0" *ngIf="f.email.errors && submitted">
                                    <span class="small" *ngIf="submitted && (f.email.errors.email || f.email.errors.incorrect)">
                                        Enter valid email!
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn auth-btn mb-3" [disabled]="showOTPSection">
                    <div class="d-flex align-items-center justify-content-center">
                        <p class="mb-0 flex-fill sf-pro-regular btn-text">Request OTP</p>
                    </div>
                </button>
                <div class="help-block sf-pro-regular mb-3" *ngIf="showOTPSection && submitted && !f.email.errors">
                    <span class="notification-text">
                        We have sent a confirmation OTP to the above email id.
                    </span>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group mb-4" [class.pe-none]="!showOTPSection">
                            <label for="inputOTP" class=" tt-firs-neue-trial-medium mb-2 form-input-label">Enter the OTP</label>
                            <app-angular-otp id="inputOTP" [setting]="settings" [hasError]="otpError && otpValue.length === settings.length" (valueChange)="onOTPChange($event)" [class.otp-error]="otpError && otpValue.length > 0"></app-angular-otp>
                        </div>
                    </div>
                </div>
                
                <button type="submit" class="btn auth-btn mb-3" [disabled]="!showOTPSection || otpError || otpValue.length !== settings.length">
                    <div class="d-flex align-items-center justify-content-center">
                        <p class="mb-0 flex-fill sf-pro-regular btn-text">Submit</p>
                    </div>
                </button>
            </form>
        </div>
    </div>
</div>
 -->